<section id="projects">
  <div class="bandeau d-flex justify-content-center align-items-center flex-column" [style.background-image]="'url(' + bandeau2 + ')'">
    <h1>Projet actuel :</h1>
    <p>Conception d'une application de gestion bancaire en Java et Angular pour PC et mobile</p>
  </div>
  <div class="projects">
    <h1 class="title">Compétences</h1>
    <p-carousel [value]="projects" [circular]="true" [numVisible]="numVisible" [numScroll]="1" autoplayInterval="3000" [indicatorStyle]="{borderRadius: '15px', margin: '0 5px'}">
      <ng-template pTemplate="item" let-project>
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
          <p-card header="{{ project.title }}" subheader="{{ project.technologies }}" >
            <ng-template pTemplate="header">
              <img alt="Card" src="{{ project.imageSrc }}" />
            </ng-template>
            <p>{{ project.Description }}</p>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>