<section id="profil" class="d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center content">
        <div class="text-center">
            <div class="title">
                <h1 class="text-center">A propos de moi <span>{{ typedText$ | async }}</span></h1>
            </div>
            <div class="img">
                <img src="{{ profil }}" class="mx-auto d-block profil-pic" alt="profil_pic">
            </div>
            <div class="text text-justify">
                <p>Ancien militaire de l'armée de terre avec neuf ans de service,
                    je me suis passionné pour le monde du numérique, ce qui m'a conduit à une reconversion réussie dans
                    l'informatique. Titulaire de formations en développement web et web mobile, ainsi que concepteur
                    développeur d'application, je me présente aujourd'hui en tant que concepteur développeur
                    d'applications.</p>
                    <p>Après avoir servi avec rigueur et détermination, j'ai adopté ces mêmes qualités dans
                    l'apprentissage et la maîtrise des technologies web. Ma transition de l'uniforme au code n'est pas
                    seulement une reconversion professionnelle, mais une transformation passionnée vers un domaine en
                    constante évolution.</p>
                    <p>Je vis actuellement dans le dynamisme de l'innovation technologique, où je
                    cherche à appliquer mes compétences acquises et à m'enrichir de nouvelles. Doté d'un esprit logique
                    et méthodique, hérité de mon parcours militaire, je suis prêt à relever des défis techniques en tant
                    que développeur full stack, et à intégrer des projets ambitieux qui requièrent rigueur et
                    précision.</p>
                    <p>Curieux et toujours en quête d'apprentissage, je suis motivé par l'envie de contribuer
                    activement à des projets d'envergure, tout en montant en compétence dans le secteur des applications
                    web et mobiles. Ouvert à divers secteurs, je suis prêt à mettre à profit mon expérience unique et
                    mes compétences variées pour mener à bien des missions complexes et stimulantes.</p>
            </div>
        </div>
    </div>
</section>