:host {
    display: block;
    position: fixed;
    width: 100vw;
    min-height: 10vh; 
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
  }

  .navbar {
    padding-left: 5vw; 
    padding-right: 5vw; 
    align-items: center;
    transition: background-color 0.5s ease;
  
    .navbar-brand {
      flex-grow: 0; 
      width: auto;
      img{
        height: 10vh; 
      }
    }
  
    .navbar-collapse {
      flex-grow: 1; 
      justify-content: flex-end; 
  
      .navbar-nav {
        cursor: pointer;
        .nav-link {
          color: white;
          font-size: 1.2rem;
          &:first-letter {
            text-transform: uppercase;
          }
          &:hover {
            color: #B3DEE5;
          }
          &.active {
            color: #FFA101;
            text-decoration: underline;
          }
        }
  
        .nav-item:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  .menu-bg {
    background-color: #12013A; 
  }