
<section id="skills">
    <div class="bandeau d-flex justify-content-center align-items-center flex-column">
        <h1>Actuellement :</h1>
        <p>En recherche d'emploi</p>
    </div>
    <h1 class="title">Compétences</h1>
    <div class="skills-cv-container">
        <div class="skills">
            <h2 class="mt-0">Front-end</h2>
            <div class="skill html" appScrollAnimation>
                <p>HTML</p>
                <p-progressBar [value]="htmlValue" showValue="false"></p-progressBar>
            </div>
            <div class="skill css" appScrollAnimation>
                <p>CSS</p>
                <p-progressBar [value]="cssValue" showValue="false"></p-progressBar>
            </div>
            <div class="skill javascript" appScrollAnimation>
                <p>JavaScript</p>
                <p-progressBar [value]="javascriptValue" showValue="false"></p-progressBar>
            </div>
            <div class="skill angular" appScrollAnimation>
                <p>Angular</p>
                <p-progressBar [value]="angularValue" showValue="false"></p-progressBar>
            </div>
            <div class="skill bootstrap"appScrollAnimation>
                <p>Bootstrap</p>
                <p-progressBar [value]="bootstrapValue" showValue="false"></p-progressBar>
            </div>
            <h2>Back-end</h2>
            <div class="skill java" appScrollAnimation>
                <p>Java</p>
                <p-progressBar [value]="javaValue" showValue="false"></p-progressBar>
            </div>
            <div class="skill php" appScrollAnimation>
                <p>PHP</p>
                <p-progressBar [value]="phpValue" showValue="false"></p-progressBar>
            </div>
            <div class="skill sql" appScrollAnimation>
                <p>SQL</p>
                <p-progressBar [value]="sqlValue" showValue="false"></p-progressBar>
            </div>
            <div class="skill postman" appScrollAnimation>
                <p>Postman</p>
                <p-progressBar [value]="postmanValue" showValue="false"></p-progressBar>
            </div>
            <h2>Framework</h2>
            <div class="skill springboot" appScrollAnimation>
                <p>SpringBoot</p>
                <p-progressBar [value]="springbootValue" showValue="false"></p-progressBar>
            </div>
            <div class="skill symfony" appScrollAnimation>
                <p>Symfony</p>
                <p-progressBar [value]="symfonyValue" showValue="false"></p-progressBar>
            </div>
            <h2>Outils</h2>
            <div class="skill postman" appScrollAnimation>
                <p>Postman</p>
                <p-progressBar [value]="postmanValue" showValue="false"></p-progressBar>
            </div>
            <div class="skill looping" appScrollAnimation>
                <p>Looping</p>
                <p-progressBar [value]="loopingValue" showValue="false"></p-progressBar>
            </div>
            
        </div>
        <div class="cv ">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="header">
                        <img src="assets/images/profil_cv.jpg" alt="Profile Picture" class="profile-pic img-fluid">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="left-column">
                        <div class="block">Bloc 1</div>
                        <div class="block">Bloc 2</div>
                        <div class="block">Bloc 3</div>
                        <div class="block">Bloc 4</div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="right-column">
                        <div class="block">Bloc 5</div>
                        <div class="block">Bloc 6</div>
                    </div>
                  </div>
                </div>
              </div>
              
            <button class="btn"><a href="path_to_your_cv.pdf" target="_blank">Télécharger mon CV</a></button>
        </div>
    </div>
</section>